
<div id="basket-container" class="row basket-container">
  <div class="basket-container__header">Товар добавлен в корзину<a href="##" data-item="#basket-container" class="basket-container__close js-showhide-item">
      <div class="icon icon-times-blue2"></div></a></div>
  <div class="basket-container__item-wrapper">
    <div class="basket-container__item">
      <div class="basket-container__item__image"><a href="##"><img src="/uploads/images/product.jpg"/></a></div>
      <div class="basket-container__item__title"><a href="##">Звуковая карта Creative Sound Blaster Professional E-MU 0404, USB 2.0, Retail</a></div>
      <div class="basket-container__item__meta">
        <div class="basket-container__item__articul">Арт. 12342424</div>
        <div class="basket-container__item__delivery"><strong>Под заказ</strong>Срок поставки 10 дней</div>
        <div class="basket-container__item__price">12 000 руб.</div>
        <div class="basket-container__item__count">
          <div data-min-value="1" data-max-value="10" class="digit-input"><a href="##" data-op="-1" class="button keg lightgrey float-left">
              <div class="icon icon-minus-small"></div></a><a href="##" data-op="1" class="button keg lightgrey float-right">
              <div class="icon icon-plus-small"></div></a>
            <input type="text" value="1"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="basket-container__footer clearfix">
    <div class="basket-container__footer__summary float-left">
      <div>Всего в корзине<strong><span>10</span>&nbsp;товаров</strong></div>
      <div>На сумму<strong><span>50 000</span>&nbsp;руб.</strong></div>
    </div>
    <div class="float-right"><a href="##">Перейти в корзину</a><a href="##" class="button keg primary">Оформить заказ</a></div>
  </div>
</div>
<div id="bookmarks-container" class="row basket-container">
  <div class="basket-container__header">Товар добавлен в избранное<a href="##" data-item="#bookmarks-container" class="basket-container__close js-showhide-item">
      <div class="icon icon-times-blue2"></div></a></div>
  <div class="basket-container__item-wrapper">
    <div class="basket-container__item">
      <div class="basket-container__item__image"><a href="##"><img src="/uploads/images/product.jpg"/></a></div>
      <div class="basket-container__item__title"><a href="##">Звуковая карта Creative Sound Blaster Professional E-MU 0404, USB 2.0, Retail</a></div>
      <div class="basket-container__item__meta">
        <div class="basket-container__item__articul">Арт. 12342424</div>
        <div class="basket-container__item__delivery"><strong>Под заказ</strong>Срок поставки 10 дней</div>
        <div class="basket-container__item__price">12 000 руб.</div>
      </div>
    </div>
  </div>
</div>
<div id="compare-container" class="row basket-container">
  <div class="basket-container__header">Товар добавлен к сравнению<a href="##" data-item="#compare-container" class="basket-container__close js-showhide-item">
      <div class="icon icon-times-blue2"></div></a></div>
  <div class="basket-container__item-wrapper">
    <div class="basket-container__item">
      <div class="basket-container__item__image"><a href="##"><img src="/uploads/images/product.jpg"/></a></div>
      <div class="basket-container__item__title"><a href="##">Звуковая карта Creative Sound Blaster Professional E-MU 0404, USB 2.0, Retail</a></div>
      <div class="basket-container__item__meta">
        <div class="basket-container__item__articul">Арт. 12342424</div>
        <div class="basket-container__item__delivery"><strong>Под заказ</strong>Срок поставки 10 дней</div>
        <div class="basket-container__item__price">12 000 руб.</div>
      </div>
    </div>
  </div>
</div>