
<div class="column small-12">
  <div class="section-subheader">Вам может потребоваться</div>
</div>
<div class="column small-12">
  <div class="catalog-items-previews bg-white size4x4">
    <div class="catalog-items-previews__item">
      <div class="catalog-items-previews__image"><a href="##"><img src="/uploads/images/catalog-motherboards.jpg"/></a></div>
      <div class="catalog-items-previews__title"><a href="##">Материнская плата ASUS asda sd s dada</a></div>
      <div class="catalog-items-previews__price float-left">12 000 руб.</div><a href="##" class="button keg primary float-right">
        <div class="icon icon-basket-white"></div></a>
    </div>
    <div class="catalog-items-previews__item">
      <div class="catalog-items-previews__image"><a href="##"><img src="/uploads/images/catalog-motherboards.jpg"/></a></div>
      <div class="catalog-items-previews__title"><a href="##">Материнская плата ASUS asda sd s dada</a></div>
      <div class="catalog-items-previews__price float-left">12 000 руб.</div><a href="##" class="button keg primary float-right">
        <div class="icon icon-basket-white"></div></a>
    </div>
    <div class="catalog-items-previews__item">
      <div class="catalog-items-previews__image"><a href="##"><img src="/uploads/images/catalog-motherboards.jpg"/></a></div>
      <div class="catalog-items-previews__title"><a href="##">Материнская плата ASUS asda sd s dada</a></div>
      <div class="catalog-items-previews__price float-left">12 000 руб.</div><a href="##" class="button keg primary float-right">
        <div class="icon icon-basket-white"></div></a>
    </div>
    <div class="catalog-items-previews__item">
      <div class="catalog-items-previews__image"><a href="##"><img src="/uploads/images/catalog-motherboards.jpg"/></a></div>
      <div class="catalog-items-previews__title"><a href="##">Материнская плата ASUS asda sd s dada</a></div>
      <div class="catalog-items-previews__price float-left">12 000 руб.</div><a href="##" class="button keg primary float-right">
        <div class="icon icon-basket-white"></div></a>
    </div>
  </div>
</div>