
<div class="row">
  <div class="column small-12">
    <div class="section-subheader">Рекомендуем</div>
  </div>
</div>
<div class="row">
  <div class="column small-12">
    <div class="catalog-items-previews bg-white">
      <div class="catalog-items-previews__item">
        <div class="catalog-items-previews__image"><a href="##"><img src="/uploads/images/catalog-motherboards.jpg"/></a></div>
        <div class="catalog-items-previews__title"><a href="##">Материнская плата ASUS asda sd s dada</a></div>
        <div class="catalog-items-previews__price">12 000 руб.</div>
      </div>
      <div class="catalog-items-previews__item">
        <div class="catalog-items-previews__image"><a href="##"><img src="/uploads/images/catalog-motherboards.jpg"/></a></div>
        <div class="catalog-items-previews__title"><a href="##">Материнская плата ASUS asda sd s dada</a></div>
        <div class="catalog-items-previews__price">12 000 руб.</div>
      </div>
      <div class="catalog-items-previews__item">
        <div class="catalog-items-previews__image"><a href="##"><img src="/uploads/images/catalog-motherboards.jpg"/></a></div>
        <div class="catalog-items-previews__title"><a href="##">Материнская плата ASUS asda sd s dada</a></div>
        <div class="catalog-items-previews__price">12 000 руб.</div>
      </div>
      <div class="catalog-items-previews__item">
        <div class="catalog-items-previews__image"><a href="##"><img src="/uploads/images/catalog-motherboards.jpg"/></a></div>
        <div class="catalog-items-previews__title"><a href="##">Материнская плата ASUS asda sd s dada</a></div>
        <div class="catalog-items-previews__price">12 000 руб.</div>
      </div>
    </div>
  </div>
</div>