
<div class="row">
  <div class="column small-12">
    <div class="section-subheader">Фото, видео, аудио</div>
  </div>
</div>
<div class="section-expanded">
  <div class="catalog-menu catalog-menu--sub">
    <div class="catalog-menu__block">
      <ul>
        <li><a href="##">Телевизоры и плазменные панели</a></li>
        <li><a href="##">Крепления для LCD</a></li>
        <li><a href="##">3D-очки</a></li>
        <li><a href="##">Проекторы</a></li>
        <li><a href="##">Аксессуары к проекторам</a></li>
        <li><a href="##">Цифровые фотокамеры</a></li>
        <li><a href="##">Цифровые видеокамеры</a></li>
      </ul>
      <ul>
        <li><a href="##">Цифровые плееры</a></li>
        <li><a href="##">Медиаплееры</a></li>
        <li><a href="##">Видеорегистраторы</a></li>
        <li><a href="##">FM-трансмиттеры</a></li>
        <li><a href="##">Радар-детекторы</a></li>
        <li><a href="##">Автомагнитолы</a></li>
        <li><a href="##">Автоакустика</a></li>
      </ul>
      <ul>
        <li><a href="##">Цифровые фото рамки</a></li>
        <li><a href="##">Экшн-камеры</a></li>
        <li><a href="##">Аксессуары к камерам</a></li>
        <li><a href="##">Домашние кинотеатры</a></li>
        <li><a href="##">CD, DVD и Blu-Ray плееры</a></li>
        <li><a href="##">Аксессуары для цифровых плееров и диктофонов</a></li>
        <li><a href="##">Диктофон</a></li>
      </ul>
      <ul>
        <li><a href="##">Разветвители автоприкуривателя</a></li>
        <li><a href="##">Акустические системы</a></li>
        <li><a href="##">Усилители и ресиверы</a></li>
        <li><a href="##">Наушники, гарнитуры, микрофоны</a></li>
        <li><a href="##">Web-камеры</a></li>
        <li><a href="##">Устройства громкой связи</a></li>
      </ul>
    </div>
  </div>
</div>