
<div class="row">
  <div class="column small-12">
    <div class="section-subheader">Вы уже смотрели</div>
  </div>
</div>
<div class="row">
  <div class="column small-12">
    <div class="catalog-items-previews"><a href="##" class="catalog-items-previews__item">
        <div class="catalog-items-previews__image"><img src="/uploads/images/catalog-soundcards.jpg"/></div>
        <div class="catalog-items-previews__title">Звуковая карта ASUS Xonar Essence One Plus Edition, USB</div>
        <div class="catalog-items-previews__price">12 000 руб.</div></a><a href="##" class="catalog-items-previews__item">
        <div class="catalog-items-previews__image"><img src="/uploads/images/catalog-soundcards.jpg"/></div>
        <div class="catalog-items-previews__title">Звуковая карта ASUS Xonar Essence One Plus Edition, USB</div>
        <div class="catalog-items-previews__price">12 000 руб.</div></a><a href="##" class="catalog-items-previews__item">
        <div class="catalog-items-previews__image"><img src="/uploads/images/catalog-soundcards.jpg"/></div>
        <div class="catalog-items-previews__title">Звуковая карта ASUS Xonar Essence One Plus Edition, USB</div>
        <div class="catalog-items-previews__price">12 000 руб.</div></a><a href="##" class="catalog-items-previews__item">
        <div class="catalog-items-previews__image"><img src="/uploads/images/catalog-soundcards.jpg"/></div>
        <div class="catalog-items-previews__title">Звуковая карта ASUS Xonar Essence One Plus Edition, USB</div>
        <div class="catalog-items-previews__price">12 000 руб.</div></a>
    </div>
  </div>
</div>