
<div class="row subfooter">
  <div class="column subfooter__cnt">
    <div class="column small-7 hide-for-mobile">
      <div class="subfooter__menu">
        <div class="subfooter__title">О компании</div><a href="/bank-details.html">Реквизиты</a><a href="##">Поставщики</a><a href="##">Вакансии</a><a href="/contacts.html">Контакты</a>
      </div>
      <div class="subfooter__menu">
        <div class="subfooter__title">Услуги</div><a href="/service-delivery.html">Доставка</a><a href="/service-build.html">Сборка</a><a href="/service-service.html">Сервис</a><a href="##">Кредит</a>
      </div>
      <div class="subfooter__menu">
        <div class="subfooter__title">Как купить</div><a href="/payments.html">Способы оплаты</a>
      </div>
      <div class="subfooter__menu">
        <div class="subfooter__title">Юридическим лицам</div><a href="/entities-scheme.html">Схема работы</a><a href="/entities-docs.html">Документы</a><a href="/entities-bank-details.html">Реквизиты</a>
      </div>
    </div>
    <div class="column small-2 mobile-12">
      <div class="subfooter__title">Мы принимаем<br/>
        <div class="icon icon-payment"></div>
      </div>
    </div>
    <div class="column small-3 mobile-12">
      <div class="subfooter__menu">
        <div class="subfooter__title">Мы в соц. сетях</div><a href="##" class="button keg facebook">
          <div class="icon icon-facebook"></div></a><a href="##" class="button keg vk">
          <div class="icon icon-vk"></div></a><a href="##" class="button keg twitter">
          <div class="icon icon-twitter"></div></a>
      </div>
    </div>
  </div>
</div>
<div class="row footer">
  <div class="column footer__cnt">
    <div class="column small-12 large-6 footer__copyrights">© 2003–2014 ООО «Открытые технологии»
    </div>
    <div class="column small-12 large-6 small-text-left large-text-right footer__nimax"><a href="//nimax.ru">Дизайн сайта</a> — Nimax
    </div>
  </div>
</div>