
<div class="row header">
  <div class="column large-7 small-4"><a href="/" class="header__logo"></a><span class="header__slogan">Магазин компьютерной и цифровой техники</span></div>
  <div class="column large-5 small-4"></div>
</div>