
<div class="row header">
  <div class="column large-7 small-4"><a href="/" class="header__logo"></a><span class="header__slogan">Магазин компьютерной и цифровой техники</span></div>
  <div class="column large-5 small-4">
    <form action="##" id="search-mobile" data-active="0" class="search-mobile"><a href="##" id="search-mobile-close" class="search-mobile__close">
        <div class="icon icon-times-blue2"></div></a>
      <input type="text"/>
    </form>
    <form action="##" class="header__search-form js-dropdown-search">
      <div class="header__search-form__inner">
        <input type="text"/>
        <button type="submit" class="keg button">
          <div class="icon icon-search"></div>
        </button>
        <div class="header__search-form__results">
          <div class="header__search-form__results__inner">
            <div class="header__search-form__results__item"><a href="##">фотоаппарат Canon EOS 5D</a></div>
            <div class="header__search-form__results__item"><a href="##">рюкзак для фотоапарата Lowerpro</a></div>
            <div class="header__search-form__results__item"><a href="##">чехол для фотоаппарата Lowerpro</a></div>
            <div class="header__search-form__results__advice"><strong>Рекомендуем</strong><a href="##"><img src="/uploads/images/product.jpg"/>
                <div>Звуковая карта Creative Sound Blaster Professional E-MU 0404, USB 2.0, Retail<span>Арт. 12342424</span></div></a></div>
            <div class="header__search-form__results__showall"><a href="##">Показать все результаты</a></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>