
<form class="login-form">
  <div class="field">
    <input type="text" placeholder="Логин"/>
  </div>
  <div class="field">
    <input type="password" placeholder="Пароль"/>
  </div>
  <div class="row field">
    <div class="column small-12 large-5">
      <div class="niceforms checkbox">
        <label>
          <input type="checkbox"/><span>Запомнить</span>
        </label>
      </div>
    </div>
    <div class="column small-12 large-7 large-text-right"><a href="##" class="primary">Восстановить&nbsp;пароль</a></div>
  </div>
  <div class="field">
    <button type="submit" class="button keg primary">Войти</button>
  </div>
</form>