
<div class="row menu">
  <ul class="menu__links">
    <li id="menu__catalog" class="menu__catalog expanded"><a href="##">
        <div class="anim-icon">
          <div class="anim-icon__helper"></div>
        </div><span>Каталог</span></a></li>
    <li><a href="/discounts.html">Акции</a></li>
    <li><a href="/services-service.html">Услуги</a></li>
    <li><a href="##">Форум</a></li>
  </ul>
  <ul class="menu__extra">
    <li><a href="/compare.html" class="button keg darker">1
        <div class="icon icon-compare"></div></a></li>
    <li><a href="/bookmarks.html" class="button keg darker">3
        <div class="icon icon-bookmarks"></div></a></li>
    <li><a href="/cart.html" class="button keg darker">3
        <div class="icon icon-basket-white"></div><span>10 560 руб.</span></a></li>
  </ul>
  <div id="catalog-menu" class="row catalog-menu">
    <div class="column small-12 catalog-menu__cnt">
      <div class="catalog-menu__block level-1 js-block-level">
        <ul class="menu__extra-mobile">
          <li><a href="/discounts.html">Акции</a></li>
          <li><a href="/services-service.html">Услуги</a></li>
          <li><a href="##">Форум</a></li>
        </ul>
        <ul>
          <li class="menu__extra-label"><strong>Каталог:</strong></li>
          <li><a href="#menu-foto" class="js-menu-category">Комплектующие</a></li>
          <li><a href="#menu-foto" class="js-menu-category">Настольные компьютеры</a></li>
        </ul>
        <ul>
          <li><a href="#menu-foto" class="js-menu-category">Портативные компьютеры</a></li>
          <li><a href="#menu-foto" class="js-menu-category">Телефония</a></li>
        </ul>
        <ul>
          <li><a href="#menu-foto" class="js-menu-category">Расходные материалы</a></li>
          <li><a href="#menu-foto" class="js-menu-category">Сетевое оборудование</a></li>
        </ul>
        <ul>
          <li><a href="#menu-foto" class="js-menu-category">Фото, видео, аудио</a></li>
          <li><a href="#menu-foto" class="js-menu-category">Серверное оборудование</a></li>
        </ul>
        <ul>
          <li><a href="#menu-foto">Уцененные товары</a></li>
        </ul>
      </div>
      <div id="menu-foto" class="catalog-menu__block level-2 js-block-level">
        <div class="catalog-menu__title">Фото, видео, аудио</div>
        <ul>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Телевизоры и плазменные панели</a></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Крепления для LCD</a><span>&nbsp;35</span></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">3D-очки</a><span>&nbsp;13</span></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Проекторы</a><span>&nbsp;25</span></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Аксессуары к проекторам</a><span>&nbsp;45</span></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Цифровые фотокамеры</a></li>
        </ul>
        <ul>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Цифровые видеокамеры</a></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Цифровые плееры</a><span>&nbsp;32</span></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Медиаплееры</a></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Видеорегистраторы</a><span>&nbsp;10</span></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">FM-трансмиттеры</a><span>&nbsp;5</span></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Радар-детекторы</a><span>&nbsp;8</span></li>
        </ul>
        <ul>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Автомагнитолы</a><span>&nbsp;23</span></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Автоакустика</a><span>&nbsp;43</span></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Цифровые фото рамки</a><span>&nbsp;10</span></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Экшн-камеры</a><span>&nbsp;3</span></li>
          <li class="active"><a href="#menu-foto-accesories" class="js-menu-category">Аксессуары к камерам</a></li>
        </ul>
        <ul>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Домашние кинотеатры</a><span>&nbsp;7</span></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">CD, DVD и Blu-Ray плееры</a></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Аксессуары для цифровых плееров и диктофонов</a><span>&nbsp;112</span></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Диктофоны</a><span>&nbsp;35</span></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Разветвители автоприкуривателя</a><span>&nbsp;8</span></li>
        </ul>
        <ul>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Акустические системы</a><span>&nbsp;39</span></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Усилители и ресиверы</a><span>&nbsp;26</span></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Наушники, гарнитуры, микрофоны</a><span>&nbsp;66</span></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Web-камеры</a><span>&nbsp;15</span></li>
          <li><a href="#menu-foto-accesories" class="js-menu-category">Устройства громкой связи</a></li>
        </ul>
      </div>
      <div id="menu-foto-accesories" class="catalog-menu__block level-3 js-block-level">
        <div class="catalog-menu__title">Аксессуары к камерам</div>
        <ul>
          <li><a href="#menu-foto-lens-cases" class="js-menu-category">Аккумуляторы для цифровых фотокамер</a><span>&nbsp;89</span></li>
          <li><a href="#menu-foto-lens-cases" class="js-menu-category">Аксессуары к Action камерам</a><span>&nbsp;13</span></li>
          <li class="active"><a href="#menu-foto-lens-cases" class="js-menu-category">Бленды и крышки для объективов</a></li>
        </ul>
        <ul>
          <li><a href="#menu-foto-lens-cases" class="js-menu-category">Зарядные устройства</a><span>&nbsp;47</span></li>
          <li><a href="#menu-foto-lens-cases" class="js-menu-category">Кабели синхронизации</a><span>&nbsp;1</span></li>
          <li><a href="#menu-foto-lens-cases" class="js-menu-category">Кабели и переходники USB</a><span>&nbsp;102</span></li>
        </ul>
        <ul>
          <li><a href="#menu-foto-lens-cases" class="js-menu-category">Карты памяти, картридеры</a><span>&nbsp;371</span></li>
          <li><a href="#menu-foto-lens-cases" class="js-menu-category">Светофильтры</a><span>&nbsp;57</span></li>
          <li><a href="#menu-foto-lens-cases" class="js-menu-category">Сумки, рюкзаки и боксы</a><span>&nbsp;127</span></li>
        </ul>
        <ul>
          <li><a href="#menu-foto-lens-cases" class="js-menu-category">Устройства дистанционного управления (ПДУ)</a><span>&nbsp;1</span></li>
          <li><a href="#menu-foto-lens-cases" class="js-menu-category">Уход за фото/видео техникой</a><span>&nbsp;21</span></li>
          <li><a href="#menu-foto-lens-cases" class="js-menu-category">Штативы</a><span>&nbsp;58</span></li>
        </ul>
        <ul>
          <li><a href="#menu-foto-lens-cases" class="js-menu-category">DVD диски и miniDV кассеты</a><span>&nbsp;4</span></li>
          <li><a href="#menu-foto-lens-cases" class="js-menu-category">Аккумуляторы для фото и видео</a><span>&nbsp;89</span></li>
          <li><a href="#menu-foto-lens-cases" class="js-menu-category">Аккумуляторы, батарейки и зарядные устройства</a><span>&nbsp;269</span></li>
        </ul>
      </div>
      <div id="menu-foto-lens-cases" class="catalog-menu__block level-4 js-block-level">
        <div class="catalog-menu__title">Бленды и крышки для объективов</div>
        <ul>
          <li><a href="/product.html">Аккумуляторы для цифровых фотокамер</a><span>&nbsp;89</span></li>
          <li><a href="/product.html">Аксессуары к Action камерам</a><span>&nbsp;13</span></li>
          <li><a href="/product.html">Бленды и крышки для объективов</a></li>
        </ul>
        <ul>
          <li><a href="/product.html">Зарядные устройства</a><span>&nbsp;47</span></li>
          <li><a href="/product.html">Кабели синхронизации</a><span>&nbsp;1</span></li>
          <li><a href="/product.html">Кабели и переходники USB</a><span>&nbsp;102</span></li>
        </ul>
        <ul>
          <li><a href="/product.html">Карты памяти, картридеры</a><span>&nbsp;371</span></li>
          <li><a href="/product.html">Светофильтры</a><span>&nbsp;57</span></li>
          <li><a href="/product.html">Сумки, рюкзаки и боксы</a><span>&nbsp;127</span></li>
        </ul>
        <ul>
          <li><a href="/product.html">Устройства дистанционного управления (ПДУ)</a><span>&nbsp;1</span></li>
          <li><a href="/product.html">Уход за фото/видео техникой</a><span>&nbsp;21</span></li>
          <li><a href="/product.html">Штативы</a><span>&nbsp;58</span></li>
        </ul>
        <ul>
          <li><a href="/product.html">DVD диски и miniDV кассеты</a><span>&nbsp;4</span></li>
          <li><a href="/product.html">Аккумуляторы для фото и видео</a><span>&nbsp;89</span></li>
          <li><a href="/product.html">Аккумуляторы, батарейки и зарядные устройства</a><span>&nbsp;269</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="basket-container" class="row basket-container">
    <div class="basket-container__header">Товар добавлен в корзину<a href="##" data-item="#basket-container" class="basket-container__close js-showhide-item">
        <div class="icon icon-times-blue2"></div></a></div>
    <div class="basket-container__item-wrapper">
      <div class="basket-container__item">
        <div class="basket-container__item__image"><a href="##"><img src="/uploads/images/product.jpg"/></a></div>
        <div class="basket-container__item__title"><a href="##">Звуковая карта Creative Sound Blaster Professional E-MU 0404, USB 2.0, Retail</a></div>
        <div class="basket-container__item__meta">
          <div class="basket-container__item__articul">Арт. 12342424</div>
          <div class="basket-container__item__delivery"><strong>Под заказ</strong>Срок поставки 10 дней</div>
          <div class="basket-container__item__price">12 000 руб.</div>
          <div class="basket-container__item__count">
            <div data-min-value="1" data-max-value="10" class="digit-input"><a href="##" data-op="-1" class="button keg lightgrey float-left">
                <div class="icon icon-minus-small"></div></a><a href="##" data-op="1" class="button keg lightgrey float-right">
                <div class="icon icon-plus-small"></div></a>
              <input type="text" value="1"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="basket-container__footer clearfix">
      <div class="basket-container__footer__summary float-left">
        <div>Всего в корзине<strong><span>10</span>&nbsp;товаров</strong></div>
        <div>На сумму<strong><span>50 000</span>&nbsp;руб.</strong></div>
      </div>
      <div class="float-right"><a href="##">Перейти в корзину</a><a href="##" class="button keg primary">Оформить заказ</a></div>
    </div>
  </div>
  <div id="bookmarks-container" class="row basket-container">
    <div class="basket-container__header">Товар добавлен в избранное<a href="##" data-item="#bookmarks-container" class="basket-container__close js-showhide-item">
        <div class="icon icon-times-blue2"></div></a></div>
    <div class="basket-container__item-wrapper">
      <div class="basket-container__item">
        <div class="basket-container__item__image"><a href="##"><img src="/uploads/images/product.jpg"/></a></div>
        <div class="basket-container__item__title"><a href="##">Звуковая карта Creative Sound Blaster Professional E-MU 0404, USB 2.0, Retail</a></div>
        <div class="basket-container__item__meta">
          <div class="basket-container__item__articul">Арт. 12342424</div>
          <div class="basket-container__item__delivery"><strong>Под заказ</strong>Срок поставки 10 дней</div>
          <div class="basket-container__item__price">12 000 руб.</div>
        </div>
      </div>
    </div>
  </div>
  <div id="compare-container" class="row basket-container">
    <div class="basket-container__header">Товар добавлен к сравнению<a href="##" data-item="#compare-container" class="basket-container__close js-showhide-item">
        <div class="icon icon-times-blue2"></div></a></div>
    <div class="basket-container__item-wrapper">
      <div class="basket-container__item">
        <div class="basket-container__item__image"><a href="##"><img src="/uploads/images/product.jpg"/></a></div>
        <div class="basket-container__item__title"><a href="##">Звуковая карта Creative Sound Blaster Professional E-MU 0404, USB 2.0, Retail</a></div>
        <div class="basket-container__item__meta">
          <div class="basket-container__item__articul">Арт. 12342424</div>
          <div class="basket-container__item__delivery"><strong>Под заказ</strong>Срок поставки 10 дней</div>
          <div class="basket-container__item__price">12 000 руб.</div>
        </div>
      </div>
    </div>
  </div>
</div>