
<div class="column small-12">
  <div class="section-subheader">К этому товару подойдет</div>
</div>
<div class="column small-12">
  <div class="catalog-items-previews bg-white size4x4">
    <div class="catalog-items-previews__item">
      <div class="catalog-items-previews__image"><a href="##"><img src="/uploads/images/catalog-motherboards.jpg"/></a></div>
      <div class="catalog-items-previews__title"><a href="##">Материнская плата ASUS asda sd s dada</a></div>
      <div class="catalog-items-previews__price">12 000 руб.</div>
    </div>
    <div class="catalog-items-previews__item">
      <div class="catalog-items-previews__image"><a href="##"><img src="/uploads/images/catalog-motherboards.jpg"/></a></div>
      <div class="catalog-items-previews__title"><a href="##">Материнская плата ASUS asda sd s dada</a></div>
      <div class="catalog-items-previews__price">12 000 руб.</div>
    </div>
    <div class="catalog-items-previews__item">
      <div class="catalog-items-previews__image"><a href="##"><img src="/uploads/images/catalog-motherboards.jpg"/></a></div>
      <div class="catalog-items-previews__title"><a href="##">Материнская плата ASUS asda sd s dada</a></div>
      <div class="catalog-items-previews__price">12 000 руб.</div>
    </div>
    <div class="catalog-items-previews__item">
      <div class="catalog-items-previews__image"><a href="##"><img src="/uploads/images/catalog-motherboards.jpg"/></a></div>
      <div class="catalog-items-previews__title"><a href="##">Материнская плата ASUS asda sd s dada</a></div>
      <div class="catalog-items-previews__price">12 000 руб.</div>
    </div>
  </div>
</div>