
<form class="reg-form">
  <div class="field">
    <input type="password" placeholder="Пароль" class="error"/>
  </div>
  <div class="field">
    <input type="password" placeholder="Подтверждение пароля"/>
  </div>
  <div class="field">
    <input type="text" placeholder="Телефон"/>
  </div>
  <div class="field">
    <button type="submit" class="button keg primary">Зарегистрироваться</button>
  </div>
</form>