
<div class="product-sidebar__title">Похожие товары</div>
<div class="product-sidebar__previews">
  <div class="product-sidebar__previews__item">
    <div class="product-sidebar__previews__item__inner">
      <div class="product-sidebar__previews__image"><a href="##"><img src="/uploads/images/catalog-soundcards.jpg"/></a></div>
      <div class="product-sidebar__previews__title"><a href="##">Звуковая карта ASUS Xonar Essence One Plus Edition, USB</a></div>
      <div class="product-sidebar__previews__price">12 000 руб.</div>
    </div>
    <div class="product-sidebar__previews__item__inner"><a href="##" class="button keg grey">
        <div class="icon icon-compare"></div></a></div>
  </div>
  <div class="product-sidebar__previews__item">
    <div class="product-sidebar__previews__item__inner">
      <div class="product-sidebar__previews__image"><a href="##"><img src="/uploads/images/catalog-soundcards.jpg"/></a></div>
      <div class="product-sidebar__previews__title"><a href="##">Звуковая карта ASUS Xonar Essence One Plus Edition, USB</a></div>
      <div class="product-sidebar__previews__price">12 000 руб.</div>
    </div>
    <div class="product-sidebar__previews__item__inner"><a href="##" class="button keg grey">
        <div class="icon icon-compare"></div></a></div>
  </div>
  <div class="product-sidebar__previews__item">
    <div class="product-sidebar__previews__item__inner">
      <div class="product-sidebar__previews__image"><a href="##"><img src="/uploads/images/catalog-soundcards.jpg"/></a></div>
      <div class="product-sidebar__previews__title"><a href="##">Звуковая карта ASUS Xonar Essence One Plus Edition, USB</a></div>
      <div class="product-sidebar__previews__price">12 000 руб.</div>
    </div>
    <div class="product-sidebar__previews__item__inner"><a href="##" class="button keg grey">
        <div class="icon icon-compare"></div></a></div>
  </div>
</div>