
<div class="row top-bar">
  <div class="top-bar__city dropdown">Кемерово
    <div class="icon icon-stripe-down-black"></div>
    <div class="top-bar__city__cnt dropdown__cnt"><a href="##">Барнаул</a><a href="##">Бердск</a><a href="##">Бийск</a><a href="##">Красноярск</a><a href="##" class="active">Кемерово</a><a href="##">Новокузнецк</a><a href="##">Новосибирск</a><a href="##">Омск</a><a href="##">Прокопьевск</a><a href="##">Северск</a><a href="##">Томск</a></div>
  </div>
  <div class="top-bar__phone">8 800 234-00-99</div>
  <div class="top-bar__menu"><span class="top-bar__menu__links"><a href="/payments.html">Как купить</a><a href="/entities-scheme.html">Юридическим лицам</a><a href="/about.html">О компании</a></span>
    <div class="top-bar__user-panel dropdown">
      <div class="top-bar__user-panel__label"><span class="top-bar-label-company"><span class="hide-for-small"><a href="/account-settings-company.html">Петроэлектросбыт 22</a></span><span class="hide-for-medium-up"><a href="/account-settings-company.html">
              <div class="icon icon-user"></div></a></span></span></div>
      <div class="top-bar__user-panel__cnt dropdown__cnt">
        <div class="top-bar-company">
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company"/><span>Петроэлектросбыт 1</span>
              </label>
            </div>
            <div class="top-bar-company__status">
              <div class="company-status gold">Gold</div>
            </div><a href="/account-order-company.html">Заказы</a>
          </div>
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company"/><span>Петроэлектросбыт 2</span>
              </label>
            </div>
            <div class="top-bar-company__status">
              <div class="company-status gold">Gold</div>
            </div><a href="/account-order-company.html">Заказы</a>
          </div>
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company"/><span>Петроэлектросбыт 3</span>
              </label>
            </div>
            <div class="top-bar-company__status">
              <div class="company-status gold">Gold</div>
            </div><a href="/account-order-company.html">Заказы</a>
          </div>
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company"/><span>Петроэлектросбыт 4</span>
              </label>
            </div>
            <div class="top-bar-company__status">
              <div class="company-status gold">Gold</div>
            </div><a href="/account-order-company.html">Заказы</a>
          </div>
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company"/><span>Петроэлектросбыт 5</span>
              </label>
            </div>
            <div class="top-bar-company__status">
              <div class="company-status gold">Gold</div>
            </div><a href="/account-order-company.html">Заказы</a>
          </div>
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company"/><span>Петроэлектросбыт 6</span>
              </label>
            </div>
            <div class="top-bar-company__status">
              <div class="company-status gold">Gold</div>
            </div><a href="/account-order-company.html">Заказы</a>
          </div>
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company"/><span>Петроэлектросбыт 7</span>
              </label>
            </div>
            <div class="top-bar-company__status">
              <div class="company-status gold">Gold</div>
            </div><a href="/account-order-company.html">Заказы</a>
          </div>
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company"/><span>Петроэлектросбыт 8</span>
              </label>
            </div>
            <div class="top-bar-company__status">
              <div class="company-status gold">Gold</div>
            </div><a href="/account-order-company.html">Заказы</a>
          </div>
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company"/><span>Петроэлектросбытa asd asadasdasd 9</span>
              </label>
            </div>
            <div class="top-bar-company__status">
              <div class="company-status silver">Silver</div>
            </div><a href="/account-order-company.html">Заказы</a>
          </div>
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company"/><span>Петроэлектросбыт 12</span>
              </label>
            </div>
            <div class="top-bar-company__status">
              <div class="company-status registered">Registered</div>
            </div><a href="/account-order-company.html">Заказы</a>
          </div>
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company" checked="checked"/><span>Петроэлектросбыт 22</span>
              </label>
            </div>
            <div class="top-bar-company__status">
              <div class="company-status diamond">Diamond</div>
            </div><a href="/account-order-company.html">Заказы</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>