
<div class="row top-bar">
  <div class="top-bar__city dropdown">Кемерово
    <div class="icon icon-stripe-down-black"></div>
    <div class="top-bar__city__cnt dropdown__cnt"><a href="##">Барнаул</a><a href="##">Бердск</a><a href="##">Бийск</a><a href="##">Красноярск</a><a href="##" class="active">Кемерово</a><a href="##">Новокузнецк</a><a href="##">Новосибирск</a><a href="##">Омск</a><a href="##">Прокопьевск</a><a href="##">Северск</a><a href="##">Томск</a></div>
  </div>
  <div class="top-bar__phone">8 800 234-00-99</div>
  <div class="top-bar__menu"><span class="top-bar__menu__links"><a href="/payments.html">Как купить</a><a href="/entities-scheme.html">Юридическим лицам</a><a href="/about.html">О компании</a></span>
    <div class="top-bar__user-panel dropdown">
      <div class="top-bar__user-panel__label"><span class="hide-for-small">Войти</span><span class="hide-for-medium-up"><span class="icon icon-login-white"></span></span></div>
      <div class="top-bar__user-panel__cnt dropdown__cnt">
        <div class="row">
          <div data-tabs="#user-panel-tabs" class="column small-12 top-bar__user-panel__switcher js-tabs-switcher"><a href="##" class="active">Войти</a><a href="##">Зарегистрироваться</a></div>
        </div>
        <div id="user-panel-tabs" class="tabs">
          <div class="tabs__itm active">
            <form class="login-form">
              <div class="field">
                <input type="text" placeholder="Логин"/>
              </div>
              <div class="field">
                <input type="password" placeholder="Пароль"/>
              </div>
              <div class="row field">
                <div class="column small-12 large-5">
                  <div class="niceforms checkbox">
                    <label>
                      <input type="checkbox"/><span>Запомнить</span>
                    </label>
                  </div>
                </div>
                <div class="column small-12 large-7 large-text-right"><a href="##" class="primary">Восстановить&nbsp;пароль</a></div>
              </div>
              <div class="field">
                <button type="submit" class="button keg primary">Войти</button>
              </div>
            </form>
            <div class="row social-login">
              <div class="column large-7 small-12"><span>Войти&nbsp;как пользователь</span></div>
              <div class="column large-5 small-12 large-text-right"><a href="##" class="button keg facebook">
                  <div class="icon icon-facebook"></div></a><a href="##" class="button keg vk">
                  <div class="icon icon-vk"></div></a><a href="##" class="button keg twitter">
                  <div class="icon icon-twitter"></div></a></div>
            </div>
          </div>
          <div class="tabs__itm">
            <form class="reg-form">
              <div class="field">
                <input type="password" placeholder="Пароль" class="error"/>
              </div>
              <div class="field">
                <input type="password" placeholder="Подтверждение пароля"/>
              </div>
              <div class="field">
                <input type="text" placeholder="Телефон"/>
              </div>
              <div class="field">
                <button type="submit" class="button keg primary">Зарегистрироваться</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>