
<div class="row top-bar">
  <div class="top-bar__city dropdown">Кемерово
    <div class="icon icon-stripe-down-black"></div>
    <div class="top-bar__city__cnt dropdown__cnt"><a href="##">Барнаул</a><a href="##">Бердск</a><a href="##">Бийск</a><a href="##">Красноярск</a><a href="##" class="active">Кемерово</a><a href="##">Новокузнецк</a><a href="##">Новосибирск</a><a href="##">Омск</a><a href="##">Прокопьевск</a><a href="##">Северск</a><a href="##">Томск</a></div>
  </div>
  <div class="top-bar__phone">8 800 234-00-99</div>
  <div class="top-bar__menu"><span class="top-bar__menu__links"><a href="##">Как купить</a><a href="##">Корпоративным клиентам</a><a href="##">О компании</a></span>
    <div class="top-bar__user-panel">
      <div class="top-bar__user-panel__label"><span class="top-bar-label-user">Привет<a href="##" class="top-bar-label-user-name">Константин</a><a href="##">Мои заказы</a></span><a href="##" class="top-bar__user-panel__logout">
          <div class="icon icon-logout-blue2"></div></a></div>
    </div>
  </div>
</div>