
<div class="row top-bar">
  <div class="top-bar__city dropdown">Кемерово
    <div class="icon icon-stripe-down-black"></div>
    <div class="top-bar__city__cnt dropdown__cnt"><a href="##">Барнаул</a><a href="##">Бердск</a><a href="##">Бийск</a><a href="##">Красноярск</a><a href="##" class="active">Кемерово</a><a href="##">Новокузнецк</a><a href="##">Новосибирск</a><a href="##">Омск</a><a href="##">Прокопьевск</a><a href="##">Северск</a><a href="##">Томск</a></div>
  </div>
  <div class="top-bar__phone">8 800 234-00-99</div>
  <div class="top-bar__menu"><span class="top-bar__menu__links"><a href="##">Как купить</a><a href="##">Корпоративным клиентам</a><a href="##">О компании</a></span>
    <div class="top-bar__user-panel dropdown">
      <div class="top-bar__user-panel__label"><span class="top-bar-label-company">Петроэлектросбыт</span></div>
      <div class="top-bar__user-panel__cnt dropdown__cnt">
        <div class="top-bar-company">
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company"/><span>Петроэлектросбыт 1</span>
              </label>
            </div>
            <div class="top-bar-company__status">Golden patner</div><a href="##">Заказы</a>
          </div>
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company"/><span>Петроэлектросбыт 2</span>
              </label>
            </div>
            <div class="top-bar-company__status">Golden patner</div><a href="##">Заказы</a>
          </div>
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company"/><span>Петроэлектросбыт 3</span>
              </label>
            </div>
            <div class="top-bar-company__status">Golden patner</div><a href="##">Заказы</a>
          </div>
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company"/><span>Петроэлектросбыт 4</span>
              </label>
            </div>
            <div class="top-bar-company__status">Golden patner</div><a href="##">Заказы</a>
          </div>
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company"/><span>Петроэлектросбыт 5</span>
              </label>
            </div>
            <div class="top-bar-company__status">Golden patner</div><a href="##">Заказы</a>
          </div>
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company"/><span>Петроэлектросбыт 6</span>
              </label>
            </div>
            <div class="top-bar-company__status">Golden patner</div><a href="##">Заказы</a>
          </div>
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company"/><span>Петроэлектросбыт 7</span>
              </label>
            </div>
            <div class="top-bar-company__status">Golden patner</div><a href="##">Заказы</a>
          </div>
          <div class="top-bar-company__item">
            <div class="niceforms radio">
              <label>
                <input type="radio" name="active-company"/><span>Петроэлектросбыт 8</span>
              </label>
            </div>
            <div class="top-bar-company__status">Golden patner</div><a href="##">Заказы</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>