
.answers
  background: none


.answers-subheader
  font-family: 'Myriad Pro', sans-serif;
  color: #000;
  font-size: 30px;
  font-weight: 400;
  padding 28px 0 45px 25px
  margin: 0

.answers__answer-list
  margin: 0
  padding: 0
  list-style: none
  
.answers__answer-list__item
  cf()
  ellipsis()
  padding 20px 23px
  border-top 1px solid borderGrey
  img
    display: none

.answers__answer-list__img
  float: left
  margin-right 20px

.answers__answer-list__info
  // padding-left: 20px

.answers__answer-list__body
.answers__answer-list__name
  ellipsis()
  margin: 0
  a
    color activeBlue
    text-decoration: none

.answers__answer-list__name
  margin-bottom 5px
  font-size 18px
  font-weight 400
  
.answers__answer-list__body
  font-size 16px

.answers__head
.answers__body
  background #fff
