@import 'variables'
@import 'mixins'
@import 'old-style'
// Добавлять модули только после old-style
@import 'icons'
@import 'profile'
@import 'publication'
@import 'reviews'
@import 'feedback'
@import 'questions'
@import 'answers'

[ng\:cloak]
[ng-cloak]
.ng-cloak 
  display: none !important;

.questions
.reviews
  .product-posts__item
    border-top 1px solid headingBgGrey
    padding-left 25px
  .product-posts__name
    a
      color: activeBlue
      text-decoration: none

.product-review__author
.common-link
  color: activeBlue

.account-settings-block__header._last
  margin-top 20px

.product-review__text
.recall__text
.product-posts__content
.recall__body 
  font-family: Arial, sans-serif;

.product-posts__inner
  .profile-layout &:first-child
    width 89px

.button
  &.keg.like-clicked
  &.keg.like-clicked:after
  &.keg.like-clicked:before
    background: hoverGrey

@media screen and (min-width: 915px)
  .comment__link
    display inline

  .product-posts__inner ~ .product-posts__inner 
    padding-left: 20px;
  
  .questions__list
  .answers__answer-list__item
    img
      display: block

  .product-review__title
    padding-right 185px


  .btn-wrap
    display: inline-block
    vertical-align: top
    text-align: center
    margin-left 5px
    position relative

  .btn-count
    margin: 0
    margin-top 7px
    font-family: EtelkaLightPro;
    color:  #262626;
    font-size: 14px;
    font-weight: 400;



