.recall__head
  background headingBgGrey
  height: 60px;
  padding-left 25px
  
.recall__body
  background #fff
  position relative
  padding 15px 20px
  border-top 1px solid borderGrey

.recall__head-subheader
  padding-left 0
  margin 0
  font-family: EtelkaText;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;

.recall__from-name
  ellipsis()
  margin: 0
  font-family: EtelkaMediumPro, sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 400;

.recall__title
  ellipsis()
  display: block
  font-family: 'Myriad Pro';
  color: activeBlue;
  font-size: 18px;
  font-weight: 400;
  
  text-decoration: none

.recall__time
  font-family: EtelkaLightPro, sans-serif;
  color: #808184;
  font-size: 16px;
  font-weight: 400;

.recall__text
  font-family: EtelkaLightPro, sans-serif;
  color:  #000017;
  font-size: 16px;
  font-weight: 400;

.recall__body-head
  font-family: 'Myriad Pro', sans-serif;
  margin-bottom 5px
  font-weight 700

.recall__like-wrap
  display: none

._review-name
  ellepsis()
  margin-bottom 10px
  padding-right 0


@media screen and (min-width: 915px)
  .recall__title
    display inline
    margin-left 10px

  ._review-name
    padding-right 185px

  .recall__from-name
    padding-right 150px

  .recall__like-wrap
    display: block
    position absolute
    top 20px
    right 20px
    .button
      width 37px
      height 37px
      padding: 0
      padding-left 2px
      line-height 37px
      text-align: center







