.icon-like-white
  background-position: 0 -253px;
  width: 18px;
  height: 18px; 
  display: inline-block
  vertical-align: middle

.icon-dislike-white
  background-position: -51px -252px;
  width: 18px;
  height: 18px;
  display: inline-block
  vertical-align: middle

.icon-article-white
  background-position: -283px -229px;
  width: 20px;
  height: 19px;
  vertical-align: middle

.icon-double-arrow
  background-position: -291px -208px;
  width: 10px;
  height: 10px;

.icon-comment-white
  background-position: -297px -103px;
  width: 18px;
  height: 17px;
  display inline-block
  vertical-align: middle

.icon-eye-open-white
  background-position: -299px 0;
  width: 18px;
  height: 12px;
  display inline-block
  vertical-align: middle

.icon-question-white
  background-position: -301px -50px;
  width: 10px;
  height: 15px;
  display inline-block
  vertical-align: middle