.profile-layout
  font-family: EtelkaText, sans-serif;

.profile-settings
  margin 10px 0 40px
  &._other
    margin-top 0
  
.profile-menu
  margin-top 10px

.profile-menu__list
  padding: 0
  margin: 0 0 20px
  list-style none
  background white
  *
    box-sizing border-box
  
.profile-menu__list-item
  ellipsis()
  line-height 60px
  height 60px
  padding 0 25px
  background:  white
  // color menuGrey
  color black
  font-weight 400
  -webkit-transition: color 250ms ease-out, background-color 250ms ease-out;
  transition: color 250ms ease-out, background-color 250ms ease-out;
  border-top borderGrey 1px solid

  &:first-child
    border-top none

  &._home 
    height 80px
    line-height 80px

  &._mobile
    background topMenuGrey
    color topMenuGreyText
    &:hover
      background topMenuGrey
      color topMenuGreyText
    .icon
      float right
      margin-top 26px
      -webkit-transition transform ease-in .2s
      transition transform ease-in .2s
    &.active
      background topMenuGrey
      color topMenuGreyText
      .icon
        -webkit-transform rotate(-90deg)
        transform rotate(-90deg)

  &.active
  &:hover
    background activeBlue
    color white
    cursor pointer

.profile-menu__list-mobile-wrap
  display none

.profile__img
  height 50px
  width 50px
  display: inline-block
  vertical-align: middle

.profile__name
  display: inline-block
  vertical-align: middle
  padding-left 15px
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 50px;
  max-width: 220px;

.profile-header
  margin-top 0
  margin-bottom 20px
  color headingGrey
  
.profile-contacts__info
  padding 15px
  background: white

.profile-contacts__info-photo
  display: block
  position relative
  margin-bottom 10px
  overflow hidden
  img
    width 100%
    max-width 350px
    height: auto
  &:hover .change-photo
    bottom 0
    opacity 1
  
.profile-contacts__info-data
  overflow hidden
  font-size 16px
  font-weight 400

.change-photo
  width 100%
  height 30px
  position: absolute
  left 0
  bottom -30px
  background: rgba(0,0,0, .5)
  color white
  text-align: center
  line-height 30px
  cursor pointer
  z-index 1
  opacity 0
  -webkit-transition bottom linear .2s, opacity linear .2s
  transition bottom linear .2s, opacity linear .2s

#changePhoto
  display: none

.profile-contacts__info-data-p
  ellipsis()
  margin-top -0.1em
  margin-bottom 17px
  &:last-of-type
    margin-bottom 0
  
.profile-contacts__info-data-name
  font-size 18px
  

.profile-contacts__info-data-onsite-span
  color littleGrey

.profile-contacts__stat 
  font-size: 0

.profile-contacts__stat-item
  background: white
  display: inline-block
  width 100%
  height 61px
  line-height 61px
  text-align: center
  font-weight 700
  color: textGrey
  font-size 16px
  border-top borderGrey 1px solid
  border-left none

.profile-contacts__stat-item-count
  color activeBlue

.profile-accounts 
  margin-top 51px
  &.guest-profile-accounts
    margin-top 0
    .account-settings-block__social
    .account-settings-block__company
      ellipsis()
      padding 14px 20px
      border-top 1px borderGrey solid
      &:first-child
        border-top none



.thread-items
  font-family: 'Myriad Pro', sans-serif;
  background: white
  margin-top 40px

.thread-items__head
  height 57px
  background: headingBgGrey
  -webkit-transition background linear .3s
  transition background linear .3s
  &:hover
    cursor pointer
    background: lightness(headingBgGrey, 85%)

.thread-items__head_eye
  position relative
  height 57px
  width 57px
  text-align: center
  background-color activeBlue
  display: inline-block
  vertical-align: top
  line-height 57px

.thread-items__head_text
  display: inline-block
  vertical-align: top
  // color: textGrey
  color: black
  font-size: 18px
  font-weight: 700;
  letter-spacing: -0.45px;
  line-height: 57px;
  padding-left 25px
  
.thread-items__merch
  padding 25px 0px
  border-top 1px solid borderGrey
  &:first-child
    border-top none

.thread-items__merch-img
  max-width 87px
  max-height 78px
  float: left

.thread-items__merch-info
  overflow hidden
  
.thread-items__merch-info-date
  font-family Arial, sans-serif

.thread-items__merch-info-name
  color linkBlue
  a
    color linkBlue
    text-decoration: none

.thread-items__merch-info-text
  margin-bottom 0

.thread-items__merch-info-p
  ellipsis()
  margin 0
  
.thread-items__merch-info
  padding-left 25px

.thread-items__merch-info-name
  font-size 15px
  margin-bottom 8px

.thread-items__merch-info-from
  margin-bottom 8px

.thread-items__merch-info-date
  margin-bottom 0

.thread-items__merch-info-text
.thread-items__merch-info-from
.thread-items__merch-info-date
.thread-items__merch-info-date-from
  font-size 14px

.profile-activity
.profile-last-actions
  background: white
  padding: 20px
  margin: 0
  list-style: none

.profile-activity__item
  ellipsis()
  margin-top 15px
  &:first-child
    margin-top 0

.profile-last-actions__item
  ellipsis()
  margin-top 15px
    &:first-child
      margin-top 0

.profile-last-actions__item-date
  font-family EtelkaLightPro
  margin-right 25px

.ellipsis
  ellipsis()
  display: inline-block
  
.profile-layout
  .account-settings-block__cnt
    padding 0
    padding-right 20px
  .account-settings-block__social
    padding-left 10px
    ellipsis()
    a
      display: inline-block
      vertical-align: middle

.profile-last-actions__link
  color: activeBlue



@media only screen and (min-width: 915px)
  .profile-menu__list-mobile-wrap
    display block !important

  .profile-menu__list-item
    &._mobile
      display none

  .profile-menu
    margin-top 0
    
  .profile-contacts__info
    padding 23px
    background: white

  .profile-contacts__info-photo
    float: left
    margin-bottom 0
    max-height 133px
    img
      max-width 147px
      max-height 133px
      height auto

  .profile-contacts__info-data
    padding-left 30px

  .profile-menu__list
    margin: 0
    
  .profile-header
    margin-bottom 11px

  .profile-contacts__stat-item 
    background: white
    display: inline-block
    width 50%
    &:nth-child(2n)
      border-left borderGrey 1px solid

  .thread-items__merch
    border-top none
    max-width 48%
    min-width 225px

  .thread-items__body
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    box-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    box-lines: single;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
























