.thread-items__body_text
  background: white
  padding 25px 20px
  font-weight 400
  
.publication__choice
  margin-bottom 25px
  background: white
  background-clip content-box
  cursor pointer

.publication__choice-wrap
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
  -moz-box-align: space-between;
  box-align: space-between;
  -webkit-align-items: space-between;
  -moz-align-items: space-between;
  -ms-align-items: space-between;
  -o-align-items: space-between;
  align-items: space-between;
  -ms-flex-align: space-between;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width auto
  margin-left: -10px;
  margin-right: -10px;
  max-width: none;
  
.production-section-subheader
  margin-top 0
  
  
.hidden
  display: none

.make-recall__head
  background headingBgGrey
  height: 60px;
  padding-left 25px


.make-recall-subheader
  padding-left 0
  margin 0
  font-family: EtelkaText;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;


.make-recall
  background: white
  button.keg.primary
    margin 0
  .rew-form__pluses
  .rew-form__minuses
    textarea
      height: 48px

.make-recall__form-product
  display: inline-block
  float: left
  width: calc(100% - 157px) !important

.make-recall__form-label
  float: left
  width: 157px;
  height: 48px;
  font-family: EtelkaMediumPro;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center
  line-height 47px
  background: activeBlue

.input-wrap
  text-align left
  margin-bottom 14px
  line-height 50px
  background: headingBgGrey

.expert-span
  color: red

.comment__link
  ellipsis()
  display: block

.button
  &.header-grey
    background: transparent












