.questions__body
  padding-top 1px
  background: white
  font-family: EtelkaText, sans-serif;
  
.questions__list
  padding: 0
  margin: 0
  list-style none
  img
    display: none

.questions__item-wrap
.questions__answer-wrap
  padding-left 25px
  -webkit-transition opacity .3s linear
  transition opacity .3s linear
  &.ng-hidden
    opacity 0

.questions__answer-wrap
  border-top 1px solid borderGrey
  padding-right 25px
  padding-top 20px
  padding-bottom 70px
  .product-main &
    border-top none

.questions__answer-textarea
  height 125px
  resize none
  margin-bottom 10px

.questions__answer-btn
  min-width 30%
  font-family: EtelkaText, sans-serif;
  color:  #fff;
  font-size: 18px;
  font-weight: 700;

.questions__list-item
  position relative
  border-top: 1px borderGrey solid
  &:first-of-type
    border-top none

.questions__from-product
  padding-right 10px

.questions__product
.questions__title
  color: activeBlue

.questions__title
  padding-right 10px
  font-weight 700
  font-size 18px

.questions__extra
  font-size 14px
  margin-bottom 0
  padding-bottom 10px
  span
    margin-right 10px

.questions__answers-btn
.questions__write-btn
  text-decoration: underline;
  color: activeBlue
  cursor pointer

.questions__last-date
  color: #0f0f25;

.questions__sublist
  padding: 0
  margin: 0
  padding-left 15px
  list-style: none










