.product-review__title
  padding-right 0
  cursor pointer

.reviews__body
  background: white

.product__head
.product-review__body
  padding 0 20px

.product-review__body
  border-bottom 1px solid #eaebeb